/* Josh Comeaus simple CSS reset, custom styling below */
/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Themes from Daisy UI */
/* ~~~~~~~~~~~~~~~~~~~~ */
html[data-theme='bumblebee'] {
  --primary: oklch(89.51% 0.2132 96.61);
  --primary-content: oklch(38.92% 0.046 96.61);
  --secondary: oklch(80.39% 0.194 70.76);
  --secondary-content: oklch(39.38% 0.068 70.76);
  --accent: oklch(81.27% 0.157 56.52);
  --neutral: oklch(12.75% 0.075 281.99);
  --info: #622A0F;
  --base-100: oklch(100% 0 0);
  --base-200: oklch(98% 0.01 33)
}

html[data-theme='luxury'] {
  --primary: oklch(100% 0 0);
  --secondary: #152747;
  --accent: #513448;
  --neutral: #331800;
  --neutral-content: #FFE7A3;
  --base-100: #09090b;
  --base-200: #1a1618;
  --base-300: #2e2d2f;
  --base-content: #dca54c;
  --info: #66c6ff;
  --success: #87d039;
  --warning: #e2d562;
  --error: #ff6f6f;
}

/* ~~~~~~~~~~~~~~~~~~~ */
/* Begin Custom Styles */
/* ~~~~~~~~~~~~~~~~~~~ */

:root {
  --ff-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  background: var(--base-200);
}

h1 {
  font-weight: 300;
  font-size: 60px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-primary);
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 100;
  color: var(--base-content);
  min-height: 100vh;
  position: relative;
}

input {
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  box-shadow: 1px 1px 1px var(--primary);
}

input:focus-visible {
  outline: none;
}

button {
  padding: 4px 8px 4px 8px;
  font-weight: 500;
  border: 1px solid var(--primary);
  background: white;
  box-shadow: 1px 1px 1px var(--primary);
}

button:active {
  vertical-align: top;
  box-shadow: 1px 1px 1px var(--base-content);
  background: var(--base-content);
}

table {
  width: 350px;
}

tr {
  width: 100%;
}

th,
td {
  text-align: center;
  max-width: 200px;
  border: 1px solid var(--primary);
  background: var(--base-100);
}

td {
  font-weight: 400;
}

hr {
  margin-left: 0;
  width: 100%;
  border: 1.5px solid var(--primary);
}

ul {
  list-style-type: none;
}

/* Classes and Ids */

.main-container {
  /* take up remaining space on page */
  flex: 1;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 0px 32px;
}

.title {
  display: flex;
  justify-content: center;
}

.main-content {
  flex: 1;

}

.sub-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 48px;
}

.left-side {
  min-height: 340px;
}

.right-side {
  margin-top: 24px;
  display: flex;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: auto;
  border: 6px groove var(--primary);
  overflow: hidden;
}

.splash-container img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.join {
  margin: 8px 0px 8px 0px;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  font-size: 12px;
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.start-reset {
  margin: 8px 0px 8px 0px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.collapsible {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  border: 1px var(--primary) solid;
  cursor: pointer;
  padding: 8px;
}

#rules-locations-buttons {
  display: flex;
  gap: 12px;
}

#locations {
  max-width: 750px;
  margin-top: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 500;
  color: var(--info);
}

#rules-text {
  max-width: 750px;
  margin-top: 12px;
  font-weight: 500;
}

#error-info {
  color: red;
}

.info {
  font-weight: 400;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: col;
}

#room-name {
  color: var(--info);
  font-size: 42px;
  font-weight: 400;
}

.rule-list>li {
  margin-top: 12px;
}

.desc {
  font-size: 0.75rem;
  color: var(--info);
}

#timer {
  font-size: 32px;
}

#github {
  object-fit: contain;
  width: 40px;
  height: 40px;
}

.footer {
  position: relative;
  bottom: 0;
  border-top: 3px solid var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}


/* ~~~~~~~~~~~~~ */
/* Media Queries */
/* ~~~~~~~~~~~~~ */
@media (max-width: 600px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
  }

  table {
    width: 300px;
  }

  #locations {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .right-side {
    display: none;
  }
}
