/* ~~~~~~~~~~~~~~~~
   Component Ids 
~~~~~~~~~~~~~~~~ */

#screen-clamp {
  inline-size: 100%;
  max-width: var(--size-lg);
}

#join-table {
  border: var(--border-size-2) solid hsl(var(--primary));
}

#error {
  color: hsl(var(--error));
}

/* ~~~~~~~~~~~~~~~~~~
   Component Classes
~~~~~~~~~~~~~~~~~~ */

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--size-1);
  border: var(--border-size-2) solid hsl(var(--primary));
  inline-size: 100%;
  max-inline-size: var(--size-13);
  min-inline-size: var(--size-10);
  block-size: var(--size-7);
  cursor: pointer;
  background-color: hsl(var(--primary) / 0.8);
  color: hsl(var(--text));

  &:hover {
    background-color: hsl(var(--primary) / 0.9);
  }

  &.btn-primary {
    border-color: hsl(var(--primary));
    background-color: hsl(var(--primary) / 0.8);

    &:hover {
      background-color: hsl(var(--primary) / 0.9);
    }
  }

  &.btn-secondary {
    border-color: hsl(var(--secondary));
    background-color: hsl(var(--secondary) / 0.8);

    &:hover {
      background-color: hsl(var(--secondary) / 0.9);
    }
  }

  &.btn-accent {
    border-color: hsl(var(--accent));
    background-color: hsl(var(--accent) / 0.8);

    &:hover {
      background-color: hsl(var(--accent) / 0.9);
    }
  }

  &.btn-success {
    border-color: var(--green-6);
    background-color: var(--green-4);

    &:hover {
      background-color: hsl(var(--green-4) / 0.75);
    }
  }

  &.btn-disabled {
    border-color: var(--gray-6);
    background-color: var(--gray-4);
    cursor: not-allowed;
  }
}

/* Form Elements */
.input {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--text));
  border: var(--border-size-2) solid hsl(var(--primary));
  max-inline-size: var(--size-13);
  padding-left: var(--size-1);
  padding-block: var(--size-1);
  block-size: var(--size-7);

  &:hover {
    background-color: hsl(var(--primary) / 0.10);
  }

  &.input-secondary {
    border-color: hsl(var(--secondary));
    background-color: hsl(var(--secondary) / 0.05);

    &:hover {
      background-color: hsl(var(--secondary) / 0.10);
    }
  }

  &.input-accent {
    border-color: hsl(var(--accent));
    background-color: hsl(var(--accent) / 0.05);

    &:hover {
      background-color: hsl(var(--accent) / 0.10);
    }
  }

  &.input-success {
    border-color: hsl(var(--green-6));
    background-color: hsl(var(--green-4) / 0.05);

    &:hover {
      background-color: hsl(var(--green-4) / 0.10);
    }
  }

  &.input-disabled {
    border-color: var(--gray-6);
    cursor: not-allowed;
  }

  &.input-error {
    border-color: hsl(var(--error));
    background-color: hsl(var(--error) / 0.05)
  }
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--size-13);
  block-size: var(--size-7);
  background-color: hsl(var(--primary) / 0.05);
  cursor: pointer;
  color: hsl(var(--text));
  border: var(--border-size-2) solid hsl(var(--primary));
  padding-left: var(--size-1);
  font-size: var(--font-size-3);
}


.select-sm {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--text));
  border: var(--border-size-2) solid hsl(var(--primary));
  font-size: var(--font-size-0);
}

/* Grid */
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-px-4);
}

/* Table */
.th-join {
  padding: var(--size-1);
  letter-spacing: var(--font-letterspacing-2);
  border-right: var(--border-size-2) solid hsl(var(--primary) / 0.5);
}

.tr-join {
  text-align: center;
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-3);
  border-bottom: var(--border-size-2) solid hsl(var(--primary));
}

/* Loader */
.loader {
  inline-size: var(--size-px-8);
  block-size: var(--size-px-8);
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  inline-size: var(--size-px-8);
  block-size: var(--size-px-8);
  border-radius: var(--radius-round);
  border: var(--border-size-2) solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: var(--size-sm);
  inline-size: 100%;
  block-size: auto;
  border: var(--border-size-3) groove var(--primary);
  overflow: hidden;
}

.splash-container img {
  object-fit: contain;
  inline-size: 100%;
  block-size: auto;
}

.validation {
  color: var(--gray-6);
  display: flex;
  flex-direction: column;
}

.validation-success {
  color: var(--green-9);
  display: flex;
  flex-direction: column;
}

.host-float {
  position: absolute;
  font-size: hsl(var(--font-size-1));
  color: hsl(var(--primary));
  top: -0.7em;
  left: 0;
  background-color: hsl(var(--background));
  padding-inline: var(--size-1);
}

/* Dialog */
.dialog {
  border: var(--border-size-3) groove hsl(var(--primary));
  background: hsl(var(--background));
  color: hsl(var(--text));
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: 4px 4px 0px hsl(var(--secondary));
  inline-size: var(--size-fluid-10);

  position: fixed;
  inset-block-start: var(--size-3);
  /* center horizontally */
  inset-inline-start: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.dialog::backdrop {
  background: hsl(0 0% 0% / 0.55);
  backdrop-filter: blur(2px);
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
  margin-bottom: var(--size-3);
}

.dialog-title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-2);
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-2);
  margin-top: var(--size-3);
}

.player-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  inline-size: 150px;

  padding: var(--size-2);

  border: var(--border-size-2) solid hsl(var(--primary));
  border-radius: var(--radius-2);

  box-shadow: var(--shadow-3);

  background: hsl(var(--background));
  color: hsl(var(--text));
}

.player-name {
  inline-size: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-3);

  text-align: center;
}
