/* ~~~~~~~~~~~~~~~~~~
   Component Classes
~~~~~~~~~~~~~~~~~~ */

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--size-1);
  border: 3px solid hsl(var(--primary));
  width: 100%;
  max-width: 13rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: hsl(var(--primary) / 0.8);
  color: hsl(var(--text));
  box-shadow: 2px 2px 0px hsl(var(--primary) / 0.8);
}

.btn:hover {
  background-color: hsl(var(--primary) / 0.9);
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--size-1);
  border: 3px solid hsl(var(--secondary));
  width: 100%;
  max-width: 13rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: hsl(var(--secondary) / 0.8);
  color: hsl(var(--text));
  box-shadow: 2px 2px 0px hsl(var(--secondary) / 0.8);
}

.btn-secondary:hover {
  background-color: hsl(var(--secondary) / 0.9);
}

.btn-accent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--size-1);
  border: 3px solid hsl(var(--accent));
  width: 100%;
  max-width: 13rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: hsl(var(--accent) / 0.8);
  color: hsl(var(--text));
  box-shadow: 3px 3px 0px hsl(var(--accent) / 0.8);
}

.btn-accent:hover {
  background-color: hsl(var(--accent) / 0.9);
}

.btn-success {
  display: flex;
  justify-content: center;
  padding-block: var(--size-1);
  border: 3px solid var(--green-6);
  width: 100%;
  max-width: 13rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: var(--green-4);
  box-shadow: 3px 3px 0px var(--green-8);
}

.btn-success:hover {
  background-color: hsl(from var(--green-4) h s l / 0.75);
}

.btn-disabled {
  display: flex;
  justify-content: center;
  padding-block: var(--size-1);
  border: 3px solid var(--gray-6);
  width: 100%;
  max-width: 13rem;
  height: 2.25rem;
  cursor: not-allowed;
  background-color: var(--gray-4);
  box-shadow: 3px 3px 0px var(--gray-8);
}

/* Form Elements */
.input {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--text));
  border: 3px solid hsl(var(--primary));
  width: 13rem;
  padding-left: var(--size-1);
  padding-block: var(--size-1);
  height: 2.25rem;
}

.select {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--text));
  border: 3px solid hsl(var(--primary));
  padding-left: var(--size-1);
  font-size: var(--font-size-3);
  height: 2.25rem;
  box-shadow: 3px 3px 0px hsl(var(--secondary));
}

.select-sm {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--text));
  border: 3px solid hsl(var(--primary));
  font-size: var(--font-size-0);
  box-shadow: 3px 3px 0px hsl(var(--secondary));
}

/* Table */
.th-join {
  padding: var(--size-2);
  letter-spacing: 0.05em;
  border-right: 2px solid hsl(var(--background) / 0.5);
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: auto;
  border: 6px groove var(--primary);
  overflow: hidden;
}

.splash-container img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
