/* ~~~~~~~~~~~~~~~~~~~~~
   Basic Element Styling
~~~~~~~~~~~~~~~~~~~~~ */

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  max-width: 1080px;
  width: 100%;
}

header {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  gap: var(--size-px-2);

  font-size: var(--font-size-3);
  margin-block: var(--size-px-3);
  padding-top: var(--size-px-3);
  border-top: var(--border-size-2) solid hsl(var(--primary));
  text-shadow: var(--shadow-2);
}

table {
  width: 100%;
}

table>tbody>tr {
  border-bottom: 1px solid hsl(var(--primary), 0.5);

  &hover {
    background-color: hsl(var(--primary));
  }
}

table>tbody>tr:nth-child(even) {
  background-color: hsl(var(--primary), 0.05);

  &hover {
    background-color: hsl(var(--primary));
  }
}

thead {
  border-top: 1px solid hsl(var(--primary));
  border-bottom: 1px solid hsl(var(--primary));
}

th,
td {
  text-align: center;
  padding: 4px 8px;
}

h1 {
  font-size: var(--font-size-8);
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-3);
}
