package web

templ NotFound() {
	@Base("404") {
		<section class="flex-col w-full items-center">
			<div class="mb-4">
				<div class="flex justify-center color-accent text-4xl">
					404
				</div>
				<div class="text-2xl color-accent text-center">Location Not Found</div>
				<div class="text-lg text-center">The Crabspy has escaped your claws.</div>
			</div>
			<div class="flex">
				<a href="/" class="btn btn-accent">Back Home</a>
			</div>
		</section>
	}
}
