package web

templ Full() {
	@Base("full") {
		<main class="flex w-full mt-4">
			<span class="text-center text-xl">Sorry, the room you tried to Join is full!</span>
			<span class="flex justify-center">
				<a href="/" class="btn btn-primary mt-4">Back Home</a>
			</span>
		</main>
	}
}
